# Carpetas target generadas por Maven
**/target/

# Archivos compilados de Java
*.class
*.jar

*.exe
*.dll
*.log

# NetBeans folders
**/nbproject/private/
build/
dist/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
